@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
            src="~/sqlfragor.aspx"
            style="border: 0; width:100%; min-height:2000px"></iframe>

</div>



