@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    
    <h1>Presentationssystem för ITJobb</h1>
    <p class="lead">Grupp 6<br />
    Ali Al-Rubaye, Anton Olsson, Johan Evertsson, Magnus Weidmar och Therese Sjögren</p>
</div>

<div class="row">
    
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/itjobb-Classer.png" alt="...">
                <div class="caption">
                    <hr>
                    <p><a href="~/Images/itjobb-Classer.png" class="btn btn-primary" role="button" data-lightbox="image-1" data-title="My caption">Klassdiagram</a> 
                
                </div>
            </div>
        </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/MindMapIT-JobbProjektPNG1.png" alt="...">
            <div class="caption">
                <hr>
                <p><a href="~/Images/MindMapIT-JobbProjektPNG1.png" class="btn btn-primary" role="button" data-lightbox="image-1" data-title="My caption">Mindmap</a> 
                  
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/itjobb-diagram.png" alt="...">
            <div class="caption">
                <hr>
                <p><a href="~/Images/itjobb-diagram.png" class="btn btn-primary" role="button" data-lightbox="image-1" data-title="My caption">SQL-Manager Diagram</a>
                   
            </div>
        </div>
    </div>
    </div>
